* {
  font-size: 20px;
  color: #9e1b4d;
  font-weight: 1000;
  /* border: 1px solid white; */
}
body {
  background-color: black;
}
.arr-element {
  border: 4px solid;
  border-radius: 100%;
  padding: 2rem 2.3rem;
  margin-top: 0.1rem;
  font-size: 2rem;
  background-clip: 0.5rem;
}
ul {
  list-style: none;
}
li {
  text-align: center;
  float: left;
  margin: 1% 2%;
}
li :nth-child(2):hover {
  background-color: azure;
}
button {
  height: 2rem;
}
input {
  height: 1.8rem;
}
.dark-mode {
  background-color: black;
}
label {
  font-size: 1.8rem;
}
