* {
  font-size: 10px;
  color: #98dcf4;
  font-weight: 1000;
}
body {
  background-color: #050a30;
}
h1 {
  font-size: 3rem;
  text-align: center;
}

button {
  padding: 5px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 2rem;
}
button:hover {
  background: linear-gradient(180deg, #4b91f7 0%, purple 100%);
}
input {
  color: black;
  font-size: 1.2rem;
}
button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

ul {
  list-style: none;
}
li {
  text-align: center;
  float: left;
  margin: 1% 2%;
}
li :nth-child(2):hover {
  background-color: #0000ff;
}
input {
  height: 1.8rem;
}
label {
  font-size: 1.8rem;
}
.arr-element {
  border: 4px solid;
  border-radius: 100%;
  padding: 2rem 2.3rem;
  margin-top: 0.1rem;
  font-size: 2rem;
  background-clip: 0.5rem;
}

.dark-mode {
  background-color: black;
}
.sub-title {
  text-align: center;
  font-size: 2rem;
  margin: 0.1rem auto;
}
.arr-title {
  text-align: center;
}
.arr-title strong {
  font-size: 2.5rem;
}
